#blankReciept{
  display: flex;
  flex-direction: column;
  border: 4px solid black;
  width: 25vw;
  height: 70vh;
  border-radius: 44px;
  text-align: center;
  justify-content: center;

}
#recieptButton{
  display: flex;
  flex-direction: column;
  margin-left: 60vw;
  justify-content: center;
}
#convertButton{
  width: auto;
}
#chooseFileButton{
  width: auto;

}