html {background-color: #242424}

#blankReciept{
  display: flex;
  flex-direction: column;
  border: 4px solid black;
  width: 25vw;
  height: 50vh;
  border-radius: 44px;
  text-align: center;
  justify-content: center;
  /* margin-left: 60vw; */
}
#recieptButton{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#convertButton{
  width: auto;
}
#chooseFileButton{
  width: auto;
}
#block{
  background-color: rgb(3,147,121);
  width: 90vw;
  height: 70vh;
  border-radius: 20px;
  display: inline-flex;
}
#homePage{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.rightSide{
  margin-left: 44vw;
}
#mainHeader{
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 67px;
  color: rgb(45,45,45);
}
#subHeader{
  font-family: 'Poppins';
  font-size: 21px;
  color: rgb(45,45,45);
}

#recipeWrapper{
  display: flex;
  justify-content: center;
  height: 90vh;
}
#foodsLayout{
  display: flex;
  background-color: rgba(0, 147, 121, 1);
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 10vh;
  margin-right: 10vh;
  border-radius: 16px;
  margin-top: 30px;
  margin-bottom: 30px;
  height: max-content;
}

#recipeLayout{
  display: flex;
  background-color: rgba(0, 147, 121, 1);
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90vw;
  border-radius: 16px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.foodItem{
  background-color: rgb(204,230,227);
  height: 55vh;
  width: 25vw;
  border-radius: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.itemDesc{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  background-color: white;
  border-radius: 12px;
  height: 50vh;
  width: 20vw;
}
.foodPicture{
  height: 110px;
  width: auto;
}
.dueDate{
  border: 1px solid red;
  border-radius: 12px;
  width: 8vw;
  text-align: center;
}

#uploadSlide {
  margin-left: 10vh;
  margin-right: 5vh;
}

#phone {
  margin-top: 10vh;
  margin-right: 10vh;
  margin-left: 5vh;
}

.logo-image {
  margin-left: 5vh;
}